@font-face {
    font-family: 'utoregular';
    src: url('fonts/uto-regular-webfont.eot');
    src: url('fonts/uto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/uto-regular-webfont.woff2') format('woff2'),
         url('fonts/uto-regular-webfont.woff') format('woff'),
         url('fonts/uto-regular-webfont.ttf') format('truetype'),
         url('fonts/uto-regular-webfont.svg#utoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'utobold';
    src: url('fonts/uto-bold-webfont.eot');
    src: url('fonts/uto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/uto-bold-webfont.woff2') format('woff2'),
         url('fonts/uto-bold-webfont.woff') format('woff'),
         url('fonts/uto-bold-webfont.ttf') format('truetype'),
         url('fonts/uto-bold-webfont.svg#utobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body { background: #FFF; }


#clockHolder
{
    width:755px;
    margin:0px auto 0px auto;
    position:relative;
    top:60px;
    left:0;
    overflow: hidden;
}

#four,#three,#two,#one,#nose
{
    display:block;
    position:absolute;
}

#nose { z-index: 1000;}

.rotatingWrapper
{
    position:absolute;
    width:755px;
    height:755px;
    top:0px;
    left:0px;
}

#numerals { position: absolute; top:0; left: 0;}

/* nav */

#nav_wrap { width: 100%; height: auto; width:756px; margin: 0 auto; position: relative; z-index: 1001; }

#nav li, #nav, #nav ul { margin: 0; padding: 0;  }

#nav { z-index: 100; position: absolute; top: 0; left: 0;   }

#nav a { color: #900; font-size: 18px; font-family: 'Helvetica', sans-serif; padding: 10px 5px !important; }



#nav ul a { display: block; padding: 0 5px !important;  }

#nav li { float: left;  padding: 8px 8px; background: #FFF; border:1px solid #EBEBEB; position: relative; width: 200px; }

#nav li:hover a {  color: #C7535A; }

#nav li:hover { background: #fcfcfc; }

#nav ul { display: none; }

#nav li:hover > ul { display: block;  }

#nav ul { width: 140px; position: absolute; top: 100%; left: 0;  }

#nav ul ul { width: 140px; position: absolute; top: 10px; left: 100%;  }

#nav ul li { width: 200px; }

#nav ul li a { color: #000 !important; }
#nav ul li a:hover { color: #666 !important; }

#display_wrap { width: 100%; margin: 80px 0 0; text-align: center; }

#inner_display { width: 745px; margin: 0 auto; text-align: center; border: none !important; }

#time_display { width: 100% !important;  padding: 2px 8px !important; border: none !important; }

#hand_display { width: 260px; float: right; padding: 2px 8px !important; border:1px solid #EBEBEB; line-height: 36px; }

#time_display input {
    background: #fff; color:#444;
    padding: 5px; font-size: 54px !important;
    font-family: Times, serif;
    margin: 8px 8px 8px 3px; border: 1px solid #CCC;
    background: #dbc7ac !important;
    border: 6px solid #000 !important;
    border-radius: 0.4em; -moz-border-radius: 0.4em; -webkit-border-radius: 0.4em;
    text-align: center;
    width: 225px;
}

#new_time, #regular_time, #uto, #uto p { font-family: 'utoregular', serif !important; }

#new_time { text-transform: uppercase; width: 60px; margin: 0 auto; }
#regular_time { width: 65px; }

.hands_dd, .hands_dd a { width: 130px !important; }
.nav_show { width: 130px !important; }

.content { margin: 0 auto; width: 753px; border: 1px solid #EBEBEB; position: relative; top: 55px; margin-bottom: 20px; }

.content table { width: 95%; margin-bottom: 10px; }

.content table td, .content table th { padding: 5px; text-align: left; }

.content p { padding-bottom: 10px; }

.content .padding { padding:15px 20px 5px 20px; }

#avatar { width: 20px; height: 20px; float: left; display: none; }

#avatar-li { width: 17px !important; }
